@font-face {
    font-family: "Nimbus Mono L";
    src: url("../fonts/Nimbus_Mono_L_W03_Regular.woff2") format("woff2"), 
         url("../fonts/Nimbus_Mono_L_W03_Regular.woff") format("woff");
}

/* Small (mobile) screens */

html {
    -webkit-text-size-adjust: 100%; /* Prevent font scaling in landscape while allowing user zoom */
}

* {
    box-sizing: border-box;
	font-family: Verdana, sans-serif;
}

#appContainer {
	max-width: 520px;
	margin: 0 auto;
	display: grid;
}

#appContainer:first-child {
    margin-top: 10px;
}

#appContainer:last-child {
    margin-bottom: 10px;
}

#appContainer > * {
    margin-left: 5px;
    margin-right: 5px;
}

h1,
h2 {
    font-family: "Nimbus Mono L", monospace;
    font-weight: normal;
}

h1 {
	margin-top: 10px;
	margin-bottom: 0;
	font-size: 32px;
}

#allDatesUTC,
#timeMachineDescription {
	margin-top: 14px;
}

p,
li {
	line-height: 1.5;
}

#basicStatistics {
	margin-top: 10px;
}

.statisticsInnerMarginTop {
	margin-top: 16px;
}

.statisticsInnerMarginBottom {
	margin-bottom: 16px;
}

.quantifierText {
	margin-bottom: 4px;
}

#timeMachineHeadline {
	margin-top: 28px;
	margin-bottom: 0;
	font-size: 24px;
	font-weight: normal;
}

#timeMachineImg {
	margin-bottom: 15px;
}

p,
label,
span,
ul {
	font-size: 16px;
}

input,
button {
    font-size: 14px;
	padding: 7px 5px 7px 5px;
	margin-top: 5px;
	margin-bottom: 15px;
    border: 2px solid #eb6c3f;
    border-radius: 5px;
    background-color: white;
}

input {
    width: 170px;
    height: 35px;
}

button {
	width: 90px;
	height: 35px;
}

#givenDateDescription {
	margin-bottom: 0;
}

#givenDate {
	font-family: "Nimbus Mono L", monospace;
    font-weight: normal;
	margin-top: 0;
	margin-bottom: 12px;
	font-size: 18px;
}

ul {
	list-style-type: disc;
	margin-top: 0;
	padding: 0 0 0 28px;
}

#expirationNote {
	font-size: 12px;
}

#basicStatistics,
#statisticsBasedOnUserInput,
#timeMachineImg {
	border: 2px solid #eb6c3f;
	border-radius: 5px;
}

#basicStatistics > *,
#statisticsBasedOnUserInput > * {
	margin-left: 12px;
	margin-right: 12px;
}

#photoInfo {
	margin-top: 25px;
	font-size: 12px;
}

/* Medium (mobile) and large screens */

@media only screen and ( min-width: 500px ) {
	#appContainer {
		grid-template-columns: 1fr 0.8fr;
		grid-template-rows: auto;
		grid-template-areas:
			"header header"
			"allDatesUTC allDatesUTC"
			"basicStatistics basicStatistics"
			"timeMachineHeadline timeMachineHeadline"
			"timeMachineDescription timeMachineDescription"
			"timeMachineImg timeMachineInputFields"
			"givenDateDescription givenDateDescription"
			"givenDate givenDate"
			"timeMachineStatistics timeMachineStatistics"
			"photoInfo photoInfo"
	}

	h1 {
        grid-area: header;
    }

	#allDatesUTC {
		grid-area: allDatesUTC;
	}

	#basicStatistics {
		grid-area: basicStatistics;
	}

	#timeMachineHeadline {
		grid-area: timeMachineHeadline;
	}

	#timeMachineDescription {
		grid-area: timeMachineDescription;
	}

	#timeMachineImg {
		grid-area: timeMachineImg;
	}

	#dateTimePickerContainer {
		grid-area: timeMachineInputFields;
	}

	#givenDateDescription {
		grid-area: givenDateDescription;
	}

	#givenDate {
		grid-area: givenDate;
	}

	#statisticsBasedOnUserInput {
		grid-area: timeMachineStatistics;
	}

	#photoInfo {
		grid-area: photoInfo;
	}
}